<div class="container">
  <div *ngFor="let item of items" class="item">
    <img [src]="item.image" alt="" />
    <div>
      <p>{{ item.fullName.slice(0, 25) }}</p>
    </div>
    <div>
      <p>{{ item.price }} EUR</p>
    </div>
    <div>
      <button (click)="additem(item)">add</button>
    </div>
  </div>
</div>
<div class="side">
  <div>
    <p>order details</p>
    <div class="orderdetails">
      <span *ngFor="let item of itemsToOrder">
        <button class="hhh" (click)="delete(item)">
          <h5>- {{ item }}</h5>
        </button>
      </span>
    </div>

    <div class="total">
      <p>Total :{{ totale }} EUR</p>
    </div>
    <button (click)="validate_order()">Validate Order</button>
  </div>
</div>
